<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		{% endblock %}
		<meta name="viewport" content="width=device-whidth, initial-scale=1"/>
		<style>
			body {
				padding-top: 50px
			}
			.lead {
				padding: 40px 15px;
				text-align: center;
			}
		</style>
		<!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
		<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/jquery.js"></script>
		<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/jquery.dataTables.js"></script>
		<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/238/n8vhm36h/dataTables.bootstrap.js"></script>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Project Name</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
						<li>
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div></div>
			{% block content %}(no content){% endblock %}
		</div>
	</body>
</html>
