{% extends "base.html" %}
{% block content %}
<h2>Record List</h2>
<table class="table table-hover">
	<tr>
		<th>Record Name</th>
		<th>Upload Time</th>
		<th>Version</th>
		<th>Padv</th>
		<th>Excute Time</th>
		<th>Operation</th>
	</tr>
	{% for record in records %}
	<tr>
		<td><a href="{%url 'viewer:detail' record.id%}">{{record.name}}</a></td>
		<td>{{record.upload_time}}</td>
		<td>{{record.version}}</td>
		<td>{{record.padv}}</td>
		<td>{{record.excute_time}}</td>
		<td><a href="{%url 'viewer:delete' record.id%}">Delete</a></td>
	</tr>
{% endfor %}
</table>

<button type="button" class="btn"><a href="{%url 'viewer:add'%}">Upload Record</a></button>
{% endblock %}
